header{
    font-style: italic;
    font-size: x-large;
    padding: 10px;
}

body{
    background-image: url(rikonavt-oEWdQsbRVZk-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Dancing Script', cursive;
    background-position: center;
    color: chartreuse;
}


.logo{
    width: 100px;
    float: top;
    padding-bottom: 40px;
}

h1{
     text-align: center;
     color: chartreuse;
}

ul{
    text-align: right;
    float: right;
    margin-top: auto;
}
nav{
    float: right;
    margin-top: -80px;
    color: palevioletred;
}

p{
    color: chartreuse;
    font-size: larger;
}

img{
    border-radius: 50%;
}

h2{
    background-color: blueviolet;
}

li{
  list-style-type: none;
  text-decoration: none;
}
 
label, input, selec, textarea {
    display: block;
    width: 25%;
    border-radius: 20px;
    padding: 20px;
}

iframe{
float: right;
}

/* footer{
   background-color: coral;
   text-align: center;
} */
footer{
    background-color: chocolate;
    text-align: center;
    position: relative;
    padding: 0%;
    margin: 0%;
    width: 100%;
}

i{

    color: blueviolet;
}
a:visited{
    color: green;
}


    


    